.context-menu {
	position: absolute;
	top: 50px;
	left: 0px;

	width: 100%;

	background-color: $black;
	border-radius: 4px;
	z-index: 2;
	&--closed {
		display: none !important;
	}
	@include mediaTablet {
		top: 60px;
		left: unset;
		right: 0px;
		width: 200px;
		&:hover {
			z-index: 3;
		}
	}
	@include mediaMobile {
		width: 150px;
		top: 40px;
	}
}
.context-menu__list {
	display: flex;
	flex-direction: column;
	.list__elem {
		padding: 15px 15px 14px 21px;
		width: 100%;

		font-size: $primal;
		font-family: $font-book;
		transition: all 0.1s ease;
		&:active {
			color: $white_active;
		}
		&:hover {
			background-color: $black_hover;
		}
		&:first-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		@include mediaDecstop {
			padding: 13px 13px 13px 17px;
			font-size: $primal-tablet;
		}
		@include mediaMobile {
			padding: 10px 10px 10px 14px;
			font-size: $primal-mobile;
		}
	}
}