.friends {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;

	padding: 30px 20px 169px;
	width: 310px;
	height: 100%;

	background-color: $black;
	font-family: $font-book;

	transition: right 0.2s ease;
	&--closed {
		right: -310px;
	}
}
.friends__header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 22px;

	img {
		cursor: pointer;
		&:hover {
			filter: brightness(0.7);
		}
		&:nth-child(1) {
			width: 20px;
			height: 20px;
		}
		&:nth-child(2) {
			width: 18px;
			height: 18px;
		}
	}
}
.friends__body {
	display: flex;
	flex-direction: column;

	margin-top: 39px;
}
.friends__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 23px 0px;
	img {
		width: 179px;
		height: 62px;
	}
}
.friends__settings {
	display: flex;
	align-items: center;
	justify-content: center;
}
.friends__setting-button {
	width: 233px;
	padding: 20px 33px;
	margin: auto 23px 0px;
	margin-top: 23px;
	letter-spacing: 2px;
	border-radius: 40px;
	
	background-color: $white;
	color: $black;
	font-family: $font-bold;
	font-size: $primal;
	transition: all 0.1s ease;
	&:hover {
		background-color: $white_hover;
		// filter: brightness(0.7);
	}
}
