.header {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	gap: 50px;

	background-color: transparent;
	font-family: $font-book;
	@include mediaMobile {
		gap: 20px;
	}
}
.header__arrow-search {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 21px;
	@include mediaDecstop {
		grid-template-columns: 1fr;
	}
}
.header__arrows {
	display: flex;
	justify-content: flex-start;
	gap: 22px;
	img {
		min-height: 40px;
		min-width: 40px;
		transition: filter 0.1s ease-in;
		cursor: pointer;
		&:hover {
			filter: brightness(0.7);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
	@include mediaDecstop {
		display: none;
	}
}
.header__search {
	position: relative;

	display: flex;
	flex: 1;
	align-items: center;
	gap: 14px;
	padding: 10px 14px;
	max-width: 468px;
	width: 100%;
	// min-height: 52px;

	background-color: $white;
	border-radius: 26px;
	font-family: $font-book;
	cursor: pointer;
	transition: background-color 0.1s ease;
	&:hover {
		background-color: $white_hover;
	}
	@include mediaMobile {
		height: 35px;
		padding: 8px 5px;
		font-size: $primal-mobile;
	}
	.search__icon {
		min-width: 32px;
		min-height: 32px;
		cursor: pointer;
		pointer-events: none;
	}
	.input__full {
		width: 100%;
		color: $black;
		background-color: transparent;
		font-size: $primal;
		&::placeholder {
			color: $placeholder;
		}
		@include mediaDecstop {
			font-size: $primal-tablet;
		}
		
	}
	// .input__mobile {
	// 	position: absolute;
	// 	top: 55px;
	// 	left: 0px;

	// 	display: none;
	// 	width: 250px;
	// 	padding: 10px 20px;

	// 	border-radius: 20px;
	// 	background-color: $white;
	// 	color: $black;
	// 	&::placeholder {
	// 		color: $placeholder;
	// 	}
		// &:hover {
		// 	background-color: $white_hover;
		// }
	// }
	// .input__mobile.visible {
	// 	display: flex !important;
	// }
}
.header__profile {
	position: relative;
	margin-right: 170px;
	transition: margin-right 0.1s ease;
	@include mediaDecstop {
		margin-right: 0px;
	}
	.profile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 14px;
		padding: 3px;
		
		background-color: $black;
		border-radius: 40px;
		font-family: $font-bold;
		cursor: pointer;
		transition: color 0.1s ease, 
					background-color 0.1s ease, 
					margin 0.2s ease;
		&:active {
			color: $white_active;
		}
		&:hover {
			background-color: $black_hover;
		}
		@include mediaTablet {
			&:hover {
				transform: scale(1.1);
			}
			&:hover .profile__avatar{
				filter: brightness(0.7);
			}
		}
		@include mediaMobile {
			padding: 2px;
		}
	}
	
	.profile__avatar {
		height: 34px;
		width: 34px;
		border-radius: 50%;
		pointer-events: none;
		@include mediaTablet {
			height: 46px;
			width: 46px;
			transition: filter 0.1s ease;
		}
		@include mediaMobile {
			height: 31px;
			width: 31px;
		}
	}
	.nick__name,
	.profile__arrow_drop {
		@include mediaTablet {
			display: none;
		}
	}
	.profile__arrow_drop {
		margin-right: 12px;
	}
	&--opened {
		margin-right: 0px;
	}
}
.header__friends {
	position: absolute;
	top: 6px;
	right: 0px;
	padding: 9px;

	border-radius: 40px;
	background-color: $black;
	color: $white;
	
	font-family: $font-bold;
	font-size: $primal;

	transition: all 0.2s ease;
	cursor: pointer;
	z-index: 2;
	&:active {
		color: rgba(255, 255, 255, 0.7);
	}
	&:hover {
		background-color: $black_hover;
	}
	span {
		white-space: none;
	}
	&--opened {
		right: -211px;
		background-color: $white;
		color: $black;
		&:hover {
			background-color: $white_hover;
		}
	}
	@include mediaDecstop {
		display: none;
		font-size: $primal-tablet;
	}
}