.header {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	gap: 50px;

	padding: 14px 42px;

	background-color: transparent;
	font-family: $font-book;
}
.header__arrow-search {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 21px;
}
.header__arrows {
	display: flex;
	justify-content: flex-start;
	gap: 22px;
	img {
		min-height: 40px;
		min-width: 40px;
		transition: filter 0.1s ease-in;
		cursor: pointer;
		&:hover {
			filter: brightness(0.7);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
}
.header__search {
	position: relative;

	display: flex;
	flex: 1;
	align-items: center;
	gap: 14px;
	padding: 10px 18px;
	max-width: 468px;
	width: 100%;
	min-height: 52px;

	background-color: $white;
	border-radius: 26px;
	font-family: $font-book;
	cursor: pointer;
	transition: background-color 0.1s ease;
	&:hover {
		background-color: $white_hover;
	}
	.search__icon {
		min-width: 32px;
		min-height: 32px;
		cursor: pointer;
		pointer-events: none;
	}
	.input__full {
		width: 100%;
		color: $black;
		&::placeholder {
			color: $placeholder;
		}
	}
	.input__mobile {
		position: absolute;
		top: 55px;
		left: 0px;

		display: none;
		width: 250px;
		padding: 10px 20px;

		border-radius: 20px;
		background-color: $white;
		color: $black;
		&::placeholder {
			color: $placeholder;
		}
		// &:hover {
		// 	background-color: $white_hover;
		// }
	}
	.input__mobile.visible {
		display: flex !important;
	}
}
.header__profile {
	position: relative;

	.profile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 14px;
	
		padding: 3px;
		margin-right: 170px;
	
		background-color: $black;
		border-radius: 40px;
		font-family: $font-bold;
		cursor: pointer;
		transition: color 0.1s ease, 
					background-color 0.1s ease, 
					margin 0.2s ease;
		&:active {
			color: $white_active;
		}
		&:hover {
			background-color: $black_hover;
		}
	}
	
	.profile__avatar {
		height: 34px;
		width: 34px;
		border-radius: 50%;
		pointer-events: none;
	}
	.profile__arrow_drop {
		margin-right: 12px;
	}
	&--opened {
		margin-right: 0px;
	}
}
.header__friends {
	position: absolute;
	top: 20px;
	right: 42px;
	padding: 9px;

	border-radius: 40px;
	background-color: $black;
	color: $white;
	
	font-family: $font-bold;
	font-size: 18px;

	transition: all 0.2s ease;
	cursor: pointer;
	z-index: 2;
	&:active {
		color: rgba(255, 255, 255, 0.7);
	}
	&:hover {
		background-color: $black_hover;
	}
	span {
		white-space: none;
	}
	&--opened {
		right: -172px;
		background-color: $white;
		color: $black;
		&:hover {
			background-color: $white_hover;
		}
	}
}