.main {
	width: 100%;
	padding-left: 310px;
	padding-bottom: 169px;
	background: linear-gradient(#3333A3, #121212, #121212);
	transition: all 0.2s ease;
	&--closed {
		width: calc(100% - 310px);
	}
	@include mediaDecstop {
		padding-left: 230px;
	}
	@include mediaTablet {
		padding-left: 92px;
	}
	@include mediaMobile {
		padding-left: 70px;
	}
}