.player {
	position: fixed;
	left: 0px;
	bottom: 0px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	// height: 112px;
	padding: 9px 18px 5px;

	background-color: $player;
	z-index: 20;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.current-time {
	position: absolute;
	top: -23px;
	left: 4px;

	padding: 1px 2px;
	border-radius: 4px;

	opacity: 0;
	letter-spacing: 1px;
	background-color: #00000045;
	font-family: $font-book;
	font-size: $third-tablet;
	z-index: 20;
	transition: all 0.3s ease;
}
.duration {
	position: absolute;
	top: -24px;
	right: 4px;
	
	padding: 1px 2px;
	border-radius: 4px;
	
	opacity: 0;
	letter-spacing: 1px;
	background-color: #00000045;
	font-family: $font-book;
	font-size: $third;
	z-index: 20;
	transition: all 0.3s ease;
}
.progress-line_wrapper {
	position: relative;
	width: 100%;
	height: 5px;

	background-color: $progress_wrapper;
	cursor: pointer;
	@include mediaDecstop {
	}
	&:hover .progress-line::after {
		transform: scale(1);
	}
	&:hover .duration {
		opacity: 1;
	}
	&:hover .current-time {
		opacity: 1;
	}
}
.progress-line {
	position: relative;
	width: 60%;
	height: 5px;

	border-radius: 1px;
	background-color: $progress_line;
	&::after {
		content: '';

		position: absolute;
		top: -5px;
		right: -2.5px;

		height: 16px;
		width: 5px;
		transform: scale(0);
		border-radius: 4px;
		background-color: $progress_line;
		transition: all 0.3s ease;
	}

}

.player__preview {
	position: absolute;
	left: 0px;
	top: -310px;

	height: 310px;
	width: 310px;
	z-index: 19;
	@include mediaDecstop {
		top: -230px;
		height: 230px;
		width: 230px;
	}
	@include mediaTablet {
		top: -92px;
		height: 92px;
		width: 92px;
	}
	@include mediaMobile {
		top: -63px;
		height: 63px;
		width: 63px;
	}
}
.preview-dropArrow {
	position: absolute;
	right: 10px;
	top: 10px;

	cursor: pointer;
	transition: all 0.1s ease;
	&:hover {
		filter: brightness(0.7);
		transform: scale(1.05);
	}
	&:active {
		filter: brightness(1);
		transform: scale(0.95);
	}
	@include mediaDecstop {
		right: 8px;
		top: 8px;
		height: 28px;
		width: 28px;
	}
	@include mediaTablet {
		right: 6px;
		top: 6px;
		height: 22px;
		width: 22px;
	}
	@include mediaMobile {
		right: 4px;
		top: 4px;
		height: 17px;
		width: 17px;
	}
}
.preview-img {
}

.song__name {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.song__title {
	font-family: $font-book;
	font-size: $primal;
	color: $white;
	white-space: nowrap;
	@include mediaDecstop {
		font-size: $primal-tablet;
	}
	@include mediaTablet {
		font-size: $primal-mobile;
	}
	@include mediaMobile {
		font-size: $primal-mobile2;
	}
}
.song__artist {
	font-family: $font-book;
	font-size: $third;
	color: $decs_color;
	white-space: nowrap;
	@include mediaDecstop {
		font-size: $third-tablet;
	}
	@include mediaTablet {
		font-size: $third-mobile;
	}
	@include mediaMobile {
		font-size: $third-mobile;
	}
}

.outer__cell {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 96%;
	padding: 1.3px;
	// border: 2px solid transparent;
	cursor: pointer;
	background: transparent;
	transition: all 0.1s ease;
	&:active {
		background: transparent !important;
	}
	&:active img{
		transform: scale(0.95);
	}
}
.inner__cell {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	background: $player;
	img {
		padding: 0;
		margin: 0;
		height: 30%;
	}
}
.song__like {
	img {
		height: 45% !important;
		transition: all 0.1s ease;
	}
	// transition: all 0.2s ease;
	// &:hover {
	// 	filter: brightness(0.8);
	// 	transform: scale(1.2);
	// }
	// &:active {
	// 	filter: brightness(1);
	// 	transform: scale(1);
	// }
}
.mix__song {
	&.mixed {
		background-color: #fff;
	}
}
.back__song {
}
.pause__song {
}
.next__song {
}
.repeat__song {
	img {
		height: 40%;
	}
}
.total__playlist {
}
.total__device {
}
.volumeImg {
}
.expandPlayer {
	img {
		height: 35% !important;
	}
}

.player__leftPart {
	display: flex;
	align-items: center;
	gap: 20px;
}
.player__centerPart {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	@include mediaDecstop {
		gap: 3px;
	}
}
.player__rightPart {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 3px;
}

.volume__line-wrapper {
	min-width: 119px;
	height: 5px;
	margin: 0px 10px;

	border-radius: 4px;
	background-color: $progress_wrapper;
	@include mediaDecstop {
		min-width: 79px;
	}
}
.volume__line {
	width: 60%;
	height: 5px;

	border-radius: 4px;
	background-color: $progress_line;
}