.wrapper {
	position: relative;
	top: 0;
	left: 0;

	display: grid;
	grid-template-columns: auto 1fr;

	width: calc(100% - 310px);
	height: 100%;

	transition: width 0.2s ease;
	&--closed {
		width: 100%;
	}
}