@font-face {
	font-family: 'CircularStd-Bold';
	src: url('/font/circular-std-font-family/CircularStd-Bold.woff') format(woff);
}
@font-face {
	font-family: 'CircularStd-Book';
	src: url('/font/circular-std-font-family/CircularStd-Book.woff') format(woff);
}
@font-face {
	font-family: 'CircularStd-Medium';
	src: url('/font/circular-std-font-family/CircularStd-Medium.woff') format(woff);
}
@font-face {
	font-family: 'CircularStd-Black';
	src: url('/font/circular-std-font-family/CircularStd-Black.woff') format(woff);
}

body {
    color: $white;
    font-size: $primal;
	@include mediaDecstop {
		font-size: $primal-tablet;
	}
	&.no-scroll {
		overflow: hidden;
	}
}
a {
    color: $white;
    transition: color 0.1s ease-in;
    &:hover {
        color: $accent;
    }
}
.title-1 {
	font-family: $font-bold;
	font-size: $h1;
	@include mediaDecstop {
		font-size: $h1-tablet;
	}
	@include mediaMobile {
		font-size: $h1-mobile;
	}
}
.title-2 {
	font-family: $font-bold;
	font-size: $h2;
	@include mediaDecstop {
		font-size: $h2-tablet;
	}
	@include mediaMobile {
		font-size: $h2-mobile;
	}
}
hr {
	width: 100%;
	border-top: 1px solid $hr;
}
