@media screen and (max-width: 1500px) {
	.header__friends {
		display: none;
	}
	.header__profile {
		margin-right: 0px !important;
	}
	.header__arrows {
		display: none !important;
	}
	.header__arrow-search {
		grid-template-columns: 1fr !important;
	}
}
@media screen and (max-width: 1200px) {
	.sidebar {
		width: 200px !important;
	}
}
@media screen and (max-width: 1000px) {
	// .header__search {
	// 	justify-content: center !important;
	// 	padding: 0px !important;
	// 	border-radius: 50% !important;
	// }
	// .input__full {
	// 	display: none !important;
	// }
	.header__profile {
		&:hover {
			transform: scale(1.1);
		}
		&:hover .profile__avatar{
			filter: brightness(0.7);
		}
		.profile__avatar {
			height: 46px !important;
			width: 46px !important;
			transition: filter 0.1s ease;
		}
		.nick__name,
		.profile__arrow_drop {
			display: none;
		}
	}
}