@media screen and (max-width: 1500px) {
	.header__friends {
		display: none;
	}
	.header__profile {
		margin-right: 0px !important;
	}
	.header__search {
		max-width: 468px;
	}
}
@media screen and (max-width: 1000px) {
	.header__search {
		justify-content: center !important;
		padding: 0px !important;
		border-radius: 50% !important;
	}
	.header__input-full {
		display: none !important;
	}
	.header__input-mobile {
		display: block !important;


	}
}
