// Colors
$black: #000;
$white: #fff;
$accent: rgba(255, 255, 255, 0.7);
$placeholder: #757575;
$explore_button: #ADADAD;
$decs_color: #b3b3b3;
$hr: #282828;
$greeting_mixes: rgba(255, 255, 255, 0.07);
$mix_card: rgba(255, 255, 255, 0.03);
$player: #181818;
$volume_bar: #18181893;
$progress_wrapper: #A6A6A6;
$progress_line: #fff;
$player-full: #181818f6;

$black_hover: #101010c2;
$white_07: rgba(255, 255, 255, 0.7);
$white_hover: rgba(255, 255, 255, 0.761);
$white_active: rgba(255, 255, 255, 0.761);
$greeting_mixes-hover: rgba(255, 255, 255, 0.1);
$mix_card-hover: rgba(255, 255, 255, 0.06);
$explore_button-hover: #888888;

// Font Sizes
$primal: 1rem;
$secondary: 1.1rem;
$third: 0.9rem;
$large: 6rem;
$h1: 2.15rem;
$h2: 1.7rem;

$primal-tablet: 0.9rem;
$secondary-tablet: 1rem;
$third-tablet: 0.8rem;
$large-tablet: 3rem;
$h1-tablet: 1.6rem;
$h2-tablet: 1.3rem;

$primal-mobile: 0.8rem;
$secondary-mobile: 0.9rem;
$third-mobile: 0.7rem;
$large-mobile: 3rem;
$h1-mobile: 1.4rem;
$h2-mobile: 1.2rem;

$primal-mobile2: 0.7rem;
$secondary-mobile2: 0.8rem;
$third-mobile2: 0.6rem;
$large-mobile2: 2rem;


// Media breakpoints
$desctop: 1280px;
$tablet: 875px;
$mobile: 480px;

// Fonts
$font-bold: 'CircularStd-Bold';
$font-book: 'CircularStd-Book';
$font-medium: 'CircularStd-Medium';
$font-black: 'CircularStd-Black';