// Colors
$black: #000;
$white: #fff;
$accent: rgba(255, 255, 255, 0.7);
$button_hover: #101010;
$placeholder: #757575;
$greeting_mixes: rgba(255, 255, 255, 0.07);

// Fonts
$font-bold: 'CircularStd-Bold';
$font-book: 'CircularStd-Book';